<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusys.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yusys.po.Message" >
    <id column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.yusys.po.Message" extends="BaseResultMap" >
    <result column="contents" property="contents" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id
  </sql>
  <sql id="Blob_Column_List" >
    contents
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where id = '100000001'
  </select>


  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.yusys.po.Message" >
    update message
    set contents = #{contents,jdbcType=LONGVARCHAR}
    where id = '100000001'
  </update>
</mapper>