<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yusys.mapper.ProjectUserRelationMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yusys.po.ProjectUserRelation" >
    <id column="project_id" property="projectId" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="specialty" property="specialty" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="deleter" property="deleter" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_id, user_id, type, name, pinyin, section, post, specialty, author, deleter, 
    time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.com.yusys.po.ProjectUserRelationKey" >
    select 
    <include refid="Base_Column_List" />
    from project_user_relation
    where project_id = #{projectId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.com.yusys.po.ProjectUserRelationKey" >
    delete from project_user_relation
    where project_id = #{projectId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.yusys.po.ProjectUserRelation" >
    insert into project_user_relation (project_id, user_id, type, 
      name, pinyin, section, 
      post, specialty, author, 
      deleter, time)
    values (#{projectId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, #{section,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{deleter,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yusys.po.ProjectUserRelation" >
    insert into project_user_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="section != null" >
        section,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="specialty != null" >
        specialty,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="deleter != null" >
        deleter,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="deleter != null" >
        #{deleter,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yusys.po.ProjectUserRelation" >
    update project_user_relation
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        section = #{section,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="deleter != null" >
        deleter = #{deleter,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yusys.po.ProjectUserRelation" >
    update project_user_relation
    set name = #{name,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      section = #{section,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      deleter = #{deleter,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where project_id = #{projectId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
      and type = #{type,jdbcType=VARCHAR}
  </update>
</mapper>