<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd "
         version="2.4">
  <display-name>manage</display-name>

  <!--springmvc前端控制器配置-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--contextConfigLocation配置springmvc加载的配置文件（处理器映射器、适配器等）
        如果不配置此参数，则默认加载/WEB-INF/servlet名称-servlet.xml （springmvc-servlet.xml）
      -->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc/springmvc.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <!--
      1、*.action，访问以.action结尾由DispatcherServlet进行解析
      2、/，所有访问请求都由DispatcherServlet进行解析，对于静态文件的解析配置不让DispatcherServlet进行解析，使用此种方法可以实现restful风格的URL
      3、/*，此种配置是错误的
    -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>

